@import ./reset.css;

body {
  font-family: 'Source Code Pro', monospace;

  overflow: hidden;
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
  color: #fff;
  background: #000;
  margin: 0;
  padding: 0;
}

body .gl-compare-content {
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
  line-height: 1.5em;
}

.gl-compare-content p {
  margin-bottom: 1em;
}

.gl-compare-content a {
  color: #5ED7F7;
  text-decoration: none;
  border-bottom: 1px solid #5ED7F7;
}

.gl-compare-content pre,
.gl-compare-content code {
  font-family: 'Source Code Pro', monospace;
  font-weight: 200;
  color: #AAA;
}

.gl-compare-content h1 {
  font-weight: bold;
  margin-bottom: 1em;
}

#container {
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
}
